<div class="row">
  <div class="col-10 scheduled-pins-grid">
    <% @pins.each do |pin| %>
      <div class="row mb-2">
        <div class="col-2">
          <div class="border border-secondary" style="max-height: 100px; overflow: hidden;">
            <img src="<%= pin.image_url %>" alt="" style="width: 100%;">
          </div>
        </div>
        <div class="col-10">
          <div><%= pin.note %></div>
          <div><%= @schedule_status[pin.status.to_sym] %></div>
          <div><%= distance_of_time_in_words(pin.pin_date, Time.now) %> ago</div>
          <div>Pinterest Id: <%= pin.pin_uuid %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>